      <address class="flex flex-row mt-5">
        <div class="w-24 mr-4">
          {% if include.author.avatar %}
          <img class="avatar" src="{{ include.author.avatar | relative_url }}" alt="{{ include.author.name }}">
          {% endif %} 
        </div>
        <div class="text-sm md:text-base">
          <h3 class="text-lg md:text-xl font-bold text-white">Written by {% if profile_url %}<a href="{{ profile_url }}" class="text-blue-light hover:text-blue">{{ include.author.name }}</a>{% else %}{{ include.author.name }}{% endif %}</h3>
          <p class="pt-2">{{ include.author.bio }}</p>
          {%- if include.license -%}
          <p class="pt-0.5">This page is licensed <a href="{{ include.license.url }}" class="text-pink hover:text-pink-dark" title="{{ include.license.description }}">{{ include.license.name }}</a></p>
          {%- endif -%}				
        </div>
      </address>