---
title: "People"
layout: page-sidebar
permalink: "/people.html"
---
{% assign people = site.data.people | sort %}
<div class="container">
  <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
  <div class="row gap-y listrecent listrecent listauthor">
    {% for person in people %}
    <div class="col-lg-6 mb-4">
      <div class="p-4 border rounded">
        <div class="row">
          <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ person[1].name }}" src="{{ person[1].avatar | relative_url }}" class="rounded-circle" height="80" width="80"></div>
          <div class="col-md-9">
            <a href="{{site.baseurl}}/people/{{ person[1].name | slugify }}">
            <h4 class="text-light mb-0"> {{ person[1].name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
            <div class="excerpt">{{ person[1].bio }}</div>
            </a>
            <div class="icon-block mt-3 d-flex justify-content-between">  
              <div>
                <a target="_blank" href="{{ person[1].twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                <a target="_blank" href="{{ person[1].site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>