          {%- if include.category == nil -%}
            {%- assign featured = site.posts | where: "status", "featured" -%}
          {%- else -%}
            {% assign featured = site.posts | where: "status", "featured" | where: "categories", include.category %}
          {%- endif -%}

          {% if featured[0] %}
          {%- if include.caption != false -%}
          <h2 class="spanner mb-6 text-2xl"><span>Featured</span></h2>
          {% endif %} 
          <ol class="counter" role="listbox">
            {%- for post in featured -%}           
            <li class="mb-5">
              <span>
                <a class="text-white hover:text-pink" href="{{ post.url | relative_url }}">
                  <h3 class="mt-0 mb-1 text-base font-bold">{{ post.title }}</h3>
                </a>
                <small class="block leading-7 text-white-darker">
                  {%- if include.category == null -%}
                  In <span class="catlist">
                  {%- for category in post.categories -%}
                  <a class="category" href="/categories.html#{{ category | downcase }}">{{ category }}</a>
                  {%- endfor -%}
                  </span>
                  {%- else -%}
                  Topics &nbsp;<span>
                    {% for tag in post.tags %}
                    <a class="tag" href="/tags.html#{{ tag | downcase }}">{{ tag }}</a>
                    {%- endfor -%}
                    </span>
                  {%- endif -%}
                  </small>
              </span>
            </li>
            {%- endfor -%}   
          </ol>
          {% endif %}