      {%- assign license = page.license | default: site.licensing[page.type] | default: site.licensing.default | replace: " ", "" | replace: "-", "" | downcase  -%}
      {%- assign license = site.data.licenses[license] -%}

      <div class="w-11/12 lg:w-2/3 flex flex-wrap justify-between items-center mx-auto">
        <section class="mx-auto md:mx-0" role="license">
          <a rel="license" title="{{ license.description }}" href="{{ license.url }}"><img src="{{ license.image }}" class="inline" alt="Creative Commons License"></a>&nbsp; unless otherwise stated, see <a href="/publish/#licensing" class="text-pink hover:underline">licensing details</a>.
        </section>

        <section class="mx-auto md:mx-0" role="contentinfo">
          <span class="align-middle"><a href="https://codeberg.org/fediverse/fedi-foundation" class="text-blue hover:underline">source</a>, <a href="/credits.html" class="text-blue hover:underline">credits</a>, <a href="/privacy.html" class="text-blue hover:underline">privacy</a>, no trackers, no ads, no js</span>
        </section>
      </div>
