      {%- assign navigation = site.data.navigation[include.navigation] -%}

      <nav class="w-11/12 lg:w-4/6 md:my-3 mx-auto">
        <input type="checkbox" id="menu" class="hidden">
        <label for="menu" class="md:hidden float-right pr-4 pt-1 text-3xl">
          <i class="fa fa-bars text-white"></i>
        </label>

        <ul class="menu overflow-hidden md:block p-0 m-0 pt-1">
          <li class="md:inline md:ml-2 lg:ml-0 md:mr-9 mb-2 md:mb-0 pl-4 md:pl-0 md:pt-1 text-2xl align-middle">
            <a href="/" class="text-white md:text-white hover:text-white-dark">{{ site.name }}</a>
          </li>
          {% for nav in navigation %}
          <li class="md:inline pl-4 md:pl-0 md:pr-6 pt-1 text-xl md:text-base align-middle">
            <a href="{{ nav.url }}" class="text-white-dark md:text-white-darker hover:text-yellow">{{ nav.title }}</a>
          </li>
          {% endfor %}
          <li class="md:inline pl-4 md:pl-0 pb-2 md:pb-0 pt-1 md:float-right text-xl md:text-base align-middle">
            <a class="text-pink hover:text-pink-dark md:font-bold" href="/support/">Support Us &nbsp;<i class="fa fa-coffee hidden md:inline" aria-hidden="true"></i></a>
          </li>
        </ul>
      </nav>