      <section class="flex flex-col items-center mb-5 text-center gradient" role="banner">
        <img src="/assets/images/fedi-foundation-logo.svg" class="w-11/12 md:w-2/6 max-h-96" role="logo" alt="{{ site.fullname }}">
        <p class="w-11/12 md:w-4/6 text-lg md:text-2xl font-serif italic text-white-dark">for the <a href="https://socialhub.activitypub.rocks" class="text-pink font-bold">SocialHub</a> community, in support of the <a href="https://fediverse.party" class="text-yellow font-bold">Fediverse</a></p>
        <h1 class="w-11/12 md:w-4/6 my-5 md:mb-10 text-xl md:text-xxl font-normal text-white-dark">Community empowerment &nbsp;•&nbsp; Cooperation &nbsp;•&nbsp; Healthy growth &nbsp;•&nbsp; Advocacy</h1>
      </section>