    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {%- comment -%}
      Privacy and security settings. Check with: https://webbkoll.dataskydd.net
    {%- endcomment -%}
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">

    {% include seo/seo.html %}

    <link rel="icon" href="{{site.favicon}}" type="image/x-icon">
    <link rel="icon" href="{{site.favicon_svg}}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/images/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="stylesheet" href="/assets/css/fork-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">