      {%- if include.post -%}
        {%- if include.post.image contains "://" -%}
          {%- assign post_img = include.post.image -%}
        {%- else -%}
          {%- assign post_img = include.post.image | relative_url -%}
        {%- endif -%}

        {%- assign post_img_style = 'style="background-image: url(' | append: post_img | append: ');"' -%}
        <div class="flex">
          <div class="w-full lg:w-1/2 self-center py-12 lg:py-20 px-10 bg-yellow">
            <h2 class="mb-3 text-3xl lg:text-4xl leading-8 lg:leading-10 font-medium lg:font-bold text-grey hover:text-grey-dark"> <a href="{{ include.post.url | relative_url }}" class="text-dark">{{ include.post.title }}</a></h2>
            <p class="mb-1 lg:mb-3 text-lg lg:text-xl leading-7 lg:leading-9 font-light text-grey-dark">
                {{ include.post.excerpt | strip_html | strip_newlines | truncate: 176 }}
            </p>
            <a href="{{ include.post.url | relative_url }}" class="mt-4 px-4 py-2 lg:py-3 inline-block rounded text-white hover:text-white-dark bg-grey hover:bg-grey-dark">Read More</a>
          </div>
          <div class="w-1/2 flex-none bg-cover hidden md:block" {{ post_img_style }}>
          </div>
        </div>
      {%- endif -%}