    {%- comment -%}
      People profiles have a CC BY-NC-SA license by default, which cannot be overridden. See publish.md for info.
    {%- endcomment -%}

    {%- assign person = site.data.people[page.person] -%}

    {% if true %}
    <meta property="og:type" content="profile">{% endif %}
    {% if person %}<meta property="profile:username" content="{{ person.socialhub }}">{% endif %}

    <script type="application/ld+json">
      {
        "@context":"https://schema.org",
        "@type": "ProfilePage",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ include.url }}"
        },
        {% if person %}"about": {
          "@type": "Person",
          "name": "{{ person.name }}",
          {% if person.home %}"url": "{{ person.home }}",{% endif %}
          {% if person.email %}"email": "{{ person.email }}",{% endif %}
          "sameAs": [
            {%- if person.socialhub -%}"{{ "https://socialhub.activitypub.rocks/u/" | append: person.socialhub | append: "/summary" }}"{%- endif -%}
            {%- if person.fediverse -%},"{{ person.fediverse }}"{%- endif -%}
            {%- if person.twitter -%},"{{ person.twitter }}"{%- endif -%}
            {%- if person.linkedin -%},"{{ person.linkedin }}"{% endif -%}
            {%- if person.keyoxide -%},"{{ person.keyoxide }}"{%- endif -%}
            {%- if person.keybase -%},"{{ person.keybase }}"{%- endif -%}
            {%- if person.github -%},"{{ person.github }}"{%- endif -%}
            {%- if person.gitlab -%},"{{ person.gitlab }}"{%- endif -%}
            {%- if person.codeberg -%},"{{ person.codeberg }}"{%- endif -%}
            {%- if person.sourcehut -%},"{{ person.sourcehut }}"{%- endif -%}
            {%- if person.forge -%},"{{ person.forge }}"{%- endif -%}
          ]
        },
        "accountablePerson": {
          "@type": "Person",
          "name": "{{ person.name }}"
        },
        "copyrightHolder": {
          "@type": "Person",
          "name": "{{ person.name }}"
        },
        "name": "{{ person.name }}",
        "image": "{{ include.image }}",
        "description": "{{ person.bio }}",{% endif %}
        "license": "{{ site.licenses.ccbyncsa.url }}",
        "publisher": {
          "@type": "Organization",
          "name": "{{ site.name }}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site.logo | absolute_url }}"
          }
        }
      }
      </script>