---
layout: default
---

    <div class="w-11/12 lg:w-2/3 mx-auto mt-8 md:mt-12 mb-8">
      <h1 class="spanner mb-6 text-lg md:text-4xl"><span>{{ page.title }}</span></h1>
      <div class="flex flex-col md:flex-row justify-center">
        <section class="md:w-2/3 my-8 md:mt-0 md:ml-4 md:mr-8">
          <div class="prose md:prose-lg lg:prose-xl max-w-none">
            {{ content }}
          </div>
          {% include people.html %}
        </section>

        <aside class="md:w-1/3 md:ml-5">
          {% include sidebars/sidebar-community.html %}
          <p class="mb-5">
            {% include sidebars/sidebar-featured.html category=page.category caption=false %}
          </p>
        </aside>
      </div>
    </div>
