<!DOCTYPE html>
<html lang="en">
  <head>
{% include meta.html %}
  </head>

  <body class="flex flex-col font-body bg-grey text-white-dark">

    <header class="w-full z-50 fixed top-0 bg-grey-dark" role="navigation">
      {% include header.html navigation="main" %}
    </header>

    <main class="mb-6" role="main">
      {{ content }}
    </main>

    <footer class="w-full z-40 mt-auto bg-white py-3 md:py-5 text-white-darker text-sm" role="complementary">
      {% include footer.html %}
    </footer>
  </body>
</html>
