---
layout: default
---

    <section class="w-11/12 lg:w-2/3 mx-auto mt-8 md:mt-12 mb-8">
      <h1 class="spanner mb-6 text-lg md:text-2xl"><span>{{ page.title }}</span></h1>
      <div class="prose md:prose-lg lg:prose-xl max-w-none">
        {{ content }}
      </div>
    </section>